# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false

script:
 - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
 - julia -e 'import Pkg; Pkg.clone(pwd()); Pkg.build("ImageFiltering")'
 - julia --check-bounds=yes --color=yes -e 'import Pkg; Pkg.test("ImageFiltering"; coverage=true)'
# control of actual deployment is in the Documenter make script
jobs:
  include:
    - stage: deploy
      julia: 0.7
      os: linux
      script:
        - julia -e 'import Pkg; Pkg.clone(pwd()); Pkg.build("ImageFiltering")'
        - julia -e 'import Pkg; Pkg.add("Documenter")'
        - julia -e 'import ImageFiltering; ENV["DOCUMENTER_DEBUG"] = "true"; include(joinpath("docs","make.jl"))'

after_success:
  # push coverage results to Codecov
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'

